.img-size {
  width: 100px;
  height: 100px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.large-top-margin {
  margin-top: 80px;
}

.title-style {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subtitle-style {
  color: darkgrey;
  padding-bottom: 10px;
}

.item-style {
  text-align: center;
  background-color: #F0F0F0;
  padding-top: 20px;
  margin-left: 5px;
  padding-bottom: 20px;
}

.visuals-img-size {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#instruction {
  padding-bottom: 20px;
}
