.img-size {
  width: 100px;
  height: 100px;
}

.item-style {
  text-align: center;
  background-color: #F0F0F0;
  padding-top: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  max-width: 150px;
}

.title-style {
  padding-top: 20px;
  font-size: 25px;
}

.description-space {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ingredients-title-space {
  padding-bottom: 20px;
}

.subtitle-style {
  padding: 20px;
  color: darkgrey;
}

.large-top-margin {
  margin-top: 80px;
}
