.nav-bg-color {
  background-color: coral;
}

.nav-text-color {
  color: white;
}

.base-color {
  background-color: #ebf6f5;
}

.link-text-style {
  color: darkgrey;
  padding-bottom: 20px;
}

.main-dashboard {
  border: solid 1px black;
  padding: 50px;
  margin-top: 70px;
}
