{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{data|tojson}}
    let user_data = {{user_data|tojson}}
    console.log(data)
    console.log(user_data)
</script>
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<div class='container'>
<div class="header text-center large-top-margin large-font-size">Let's Make Drinks!</div>
<div class="subheader text-center medium-font-size">
    Learn and quiz yourself on how to make 3 classic cocktails:
</div>
<div id='cocktails' class='row text-center'></div>
<div class='text-center large-top-margin'>
    <button id='startbutton'>Click to get started!</button>
</div>
</div>
{% endblock %}
