{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'quiz_level2.css') }}">
<style> 
  .centerit{
    text-align: center;
  }

  .instructionsBackground{
    background-color: #F0F0F0;
    outline-style: solid; 
    outline-color: coral;
    outline-width: medium;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .padding_top{
    padding-top: 50px;
  }
  .padding_bottom{
    padding-bottom: 50px;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}

.grid-item {
  border: 1px solid lightgray; 
  padding: 20px 0 20px 0;
  text-align: center;
  justify-content: center;
}

.link{
  display: grid;
  place-items: center;
}

.label{
  float: right;
  display: block;
}

.buttonAlignmnet{
  position: absolute;
  bottom: 0px;
  left: 15px;
  float: left;
}

.buttonAlignmnet2{
  position: absolute;
  bottom: 0px;
  right: 15px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.grey{
  color: grey;
}

</style> 
<body style="background-color: #ebf6f5;">
<div class="container"> 
  <h2 class="centerit" style="padding-top: 50px;">Quiz: Make a Classic {{data[id].title}}</h2>
    <div class="centerit" style="padding-bottom: 30px; color: grey;">Quiz yourself on the drink making skills you have learned so far!</div>

  <div class = "row">
    <div class="col-md-6 instructionsBackground">
      <h3 class="centerit" style="padding-top: 15%;">Level 2</h3>
      <div class="centerit grey">How well do you know the proportions?</div>
      <h3 class="padding_top centerit">Instructions</h3>
      <div class="centerit padding_bottom grey">Navigate to the textbox to type the amount of each ingredient <br>that should go into the glass to make the perfect drink!</div>
      <img src = {{data[id].img}} width="300px" class="center" style="padding-bottom: 15%;">
    </div>

    <div class="col-md-6">
      <div class="grid-container center">
        {% for ingredients in data[id].ingredients %}
          <div class="grid-item link"><img class="img-size" src={{ingredients.img}}></div>
          <div class="grid-item link" style="font-size: 15px;">{{ingredients.name}}</div>
          <div class="grid-item link">
          <input type="text" id={{ingredients.id}}><p>{{ingredients.unit}}</p>
          </div>
        {% endfor %}
      </div>

      <button type="button" id="checkButton" class="buttonAlightment left">Check</button>
      <button type="button" id="doneButton" class="buttonAlightment2 right">Next</button>

    </div>

  </div>
  <div style="padding-bottom: 50px;"></div>

</div>
</body> 
    
{% endblock %}
