{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_level2.js') }}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style> 
  .arrow{
    border: solid black; 
    border-width: 0 3px 3px 0; 
    display: inline-block; 
    padding: 3px; 
  }
  
  .up{
    transform: rotate(-135deg); 
    -webkit-transform: rotate(-135deg);
  }
  .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
</style> 

<body>
<div class="container"> 
  <div class="row">

<div class="col-md-2">
    <div >
      <h2>Quiz: Make a Classic {{data[id].title}} {{id}}</h2>
    </div>
    <div >
      <h2>Level 2</h2><br>
      <div>How well do you know the proportions?</div>
    </div>
    <div >
      <h2>Instructions</h2><br>
      <div>Adjust the amount of each ingredient to make the perfect drink!</div>
    </div>
  </div> 

  

  <div class="col-md-10">
    <div class="container">   
    {% for ingredients in data[id].ingredients %} <!--loop through the ingredient images--> 
          <div class = "col-md-2">{{ingredients.name}}</div>
          <div class = "col-md-4"><img src= {{ingredients.img}}></div>
          <div class = "col-md-2"> <input type="text" id="inputText"> </div>
          <div class = "col-md-2"> <p><i class="arrow up"></i></p> <p><i class="arrow down"></i></p> </div>
          </div>
    {% endfor %}
  </div>

  
  </div> 
  
  <div class="row">
    <button type="button" id="doneButton">Done</button>
  </div>
  
</div>
</div>
</body> 

    
{% endblock %}
