{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_level2.js') }}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .arrow{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .up{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .down{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>

<body>
<div class="col-md-4">
    <div class="row">
        <h2>Quiz: Make a Classic {{data.title}}</h2>
    </div>
    <div class="row">
        <h2>Level 2</h2><br>
        <div>How well do you know the proportions?</div>
    </div>
    <div class="row">
        <h2>Instructions</h2><br>
        <div>Adjust the amount of each ingredient to make the perfect drink!</div>
    </div>
</div>

<div class="col-md-2">
    {% for ingredients.img in data.ingredients.img %} <!--loop through the ingredient images-->
    <div class="row"> <!--create a new row-->
        <div>Ingredient of id1</div> <!-- delete this text later -->
        <div>{{data.ingredients.img}}</div>
    </div>
    {% endfor %}
</div>

<div class="col-md-2">
    {% for ingredients.name in data.ingredients.name %} <!--loop through the ingredient names-->
    <div class="row"> <!--create a new row-->
        <div>Name of ingredient</div> <!-- delete this text later -->
        <div>{{data.ingredients.name}}</div>
    </div>
    {% endfor %}
</div>

<div class="col-md-2">
    {% for ingredients.name in data.ingredients.name %} <!--loop through the ingredient names-->
    <div class="row"> <!--create a new row-->
        <div>Fill in the blank box</div> <!-- delete this text later -->
        <input type="text" id="inputText">
    </div>
    {% endfor %}
</div>

<div class="col-md-2">
    {% for ingredients.name in data.ingredients.name %} <!--loop through the ingredient names-->
    <div class="row"> <!--create a new row-->
        <div>Arrows</div> <!-- delete this text later -->
        <p><i class="arrow up"></i></p>
        <p><i class="arrow down"></i></p> <!-- hope this works -->
    </div>
    {% endfor %}
</div>

<div class="row">
    <button type="button" id="doneButton">Done</button>
</div>

</body>

{% endblock %}
