{% extends "layout.html" %}
{% block content %}

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<style>
/*<link rel="stylesheet" type="text/css" href="main.css" />
*/
    .header{
        background-color: lightgrey;
        font-size: 35;
        padding: 70px 20px;
    }
    .drop_zone{
        background-color: coral;
        font-size: 20;
        font-weight: bold;
        padding: 15px;
        color: #F0F0F0;
    }
    .person{
        border: 1px solid black;
        cursor: move;
        background-color: white;
    }
    .person:hover{
        background-color: lightyellow;
    }
    .ui-draggable-dragging{
        background-color: lightyellow;
        z-index: 100;
    }
    .ui-droppable-active{
        background-color: rgb(145, 183, 196);
    }
    .ui-droppable-hover{
        background-color: rgb(110, 137, 146);
    }

    .padding_top{
        padding-top: 50px;
    }
    .padding_bottom{
        padding-bottom: 50px;
    }

    .right{
        float: right;
    }

    .left{
        float: left;
    }

    .buttonAlignmnet{
        position: absolute;
        bottom: 0px;
        left: 15px;
    }

    .buttonAlignmnet2{
        position: absolute;
        bottom: 0px;
        right: 15px;
    }

    .centerit{
        text-align: center;
    }

    .instructionsBackground{
        background-color: #F0F0F0;
        outline-style: solid; 
        outline-color: coral;
        outline-width: medium;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .grey{
        color: grey;
    }

</style>
</head>
<body style="background-color: #ebf6f5">
<div class="container">
    <h2 class="padding_top centerit">Quiz: Make a Classic {{data[id].title}}</h2>
    <div class="centerit" style="padding-bottom: 30px; color: grey;">Quiz yourself on the drink making skills you have learned so far!</div>

    <div class = "row">
        <div class = "col-md-6 instructionsBackground">
            <h3 class="padding_top centerit">Level 1</h3>
            <div class="centerit grey">How well do you know your ingredients</div>
            <h3 class="padding_top centerit">Instructions</h3>
            <div class="centerit padding_bottom grey">Click to drag and drop the correct ingredients <br> onto the glass label to make the perfect drink</div>
            <img src = {{data[id].img}} width="200px" class="center padding_bottom">
        </div>

        <div class="col-md-3">
            <div class="drop_zone centerit" id="nppc_drop">Ingredients</div>
            <div class="centerit" id="ppc"></div>
            
            <button type="button" id="checkButton" class="buttonAlignmnet left">Check</button>
        </div>

        <div class="col-md-3">
            <div class="drop_zone centerit" id="ppc_drop" height="200px">Glass</div>
            <div class="centerit" id="non_ppc"></div>

            <button type="button" id="doneButton" class="buttonAlignmnet2 right">Next</button>
        </div>
    </div>

    <div style="padding-bottom: 50px;"></div>
</div>
</body>

{% endblock %}
